name: CI/CD

on:
    push :
        branches : 
            - main
            - dev
    
    pull_request :
        branches :
            - main
            - dev

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v6.0.2

            - name: run test script
              run: bash src/test.sh
            

    deploy:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: simulate deploy
              run: echo "test passed! deploying application to production server ... "
        